spring:
  datasource:
    url: 'jdbc:postgresql://db:5432/hapi'
    username: fhir_app_user
    password: password
    driverClassName: org.postgresql.Driver
  jpa:
    properties:
      hibernate.dialect: ca.uhn.fhir.jpa.model.dialect.HapiFhirPostgresDialect
      hibernate.search.enabled: false